.promo {
  min-height: 100vh;
  position: relative;
  background: url('../img/main_bg.jpg') no-repeat 50% / cover;
  padding-top: 20.5rem;
  &__title {
    width: 53.5rem;
    margin-top: 1rem;
  }
  &__subtitle {
    position: relative;
    padding-left: 1rem;
    z-index: 2;
    @include before_circle;
  }
  &__btns {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25rem;
  }
  &__link {
    color: #000;
    font-weight: bold;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}
