.skills {
  padding-top: 12rem;
  &__items {
    margin-top: 6rem;
    padding: 0 1rem;
    display: grid;
    grid-template: repeat(2, minmax(27rem, auto)) / repeat(4, 27rem);
    grid-auto-rows: minmax(27rem, auto);
    gap: 1.3rem;
  }
  &__item {
    border: 1px solid black;
    padding: 3rem 3rem 2.5rem 3rem;
    &-img {
      display: flex;
      align-items: center;
      min-height: 6.5rem;
    }
    h3 {
      margin-top: 2rem;
      margin-bottom: 0;
    }
    p {
      margin-top: 1.5rem;
      margin-bottom: 0;
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }
  &__ratings {
    margin-top: 12rem;
    display: grid;
    grid-template: repeat(2, minmax(7rem, auto)) / repeat(3, 35rem);
    column-gap: 4.5rem;
    row-gap: 3.5rem;
    &-item {
      display: grid;
      grid-template: minmax(2.1rem, auto) 1.4rem / 20rem 3.5rem;
      justify-content: space-between;
      align-content: space-between;
    }
    &-title {
      position: relative;
      padding: 0.2rem 0 0 1.3rem;
      @include before_circle;
    }
    &-counter {
      font-size: 1.4rem;
      line-height: 2.1rem;
    }
    &-line {
      width: 35rem;
      height: 1.4rem;
      background-color: #e8e4de;
      border-radius: 4px;
      grid-column: 1 / 3;
      span {
        display: block;
        height: 100%;
        background-color: $main-color;
        border-radius: 4px;
      }
    }
  }
}
